* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  
  vertical-align: baseline;
}

.list-screen {
  font-family: "Questrial", sans-serif;
  background: #ffffff;
  height: 665px;
  width: 100%;
  margin: -1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  overflow: hidden;
  
}
.principal-list-screen {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

.principal-list-screen .title-list h1 {
  /* text-align: center; */
  justify-content: flex-start;
  color: #00bf62;
  font-size: 18px;
  font-weight: 700;
}

.body-list{
    width: 100%;
    height: 79%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    /* text-align: center; */
    margin-bottom: 20px;
    margin-left: 20px;
    overflow: auto;
}

.body-list-2{
    width: 100%;
    height: 99%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    /* text-align: center; */

}

.card-list{
    border: 2px solid #00bf62;
    border-radius: 10px;
    width: 90%;
    height: 150px;
    margin-bottom: 10px;
}

.inside-card-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.icon-list{
    font-size: 20px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.icon-list img{

    width: 20px;
    height: 20px;
}

.body-card-list h2{
    font-size: 16px;
    font-weight: 700;
    color: #00bf62;
margin-bottom: 5px;

}